/*.egg-info/

/assets/
/helpers/
/configs/
/modules_files/
/nginx_waitress/
/build/
/dist/
/license/
/scan_logs/
/logs/
/media/
/extracted_images/
/Tesseract-OCR/
/ffmpeg/
/module_files/
/static/plugins_old/
/static_old/
/image_processing/
/model/
/audio_operations/

pycache/
migrations/

*.dll
*.pkl
*.pyc
*.pem
*.key
*.crt
*.spec
*.env
*.h5
*.whl
*.vscode
.sqlite
*.sql
*.zip
*.tar.gz
*.tar
*.gz
*.rar
*.7z
*.log

bootstrap.docx
bootstrap.lc
o365_token.txt
/static/plugins/bootstrap/js/bootstrap.lc

*model_fingerprint3.h5
model_fingerprint3.h5
temp_reqs.txt
requirements_temp.txt
banned_domains.xlsx
install_df_pkg.bat
license_info.json
